<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">Menu</span>
      <span class="defaultText dispTable">Menu is a navigation/command component that supports dynamic and static positioning.</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <h3 class="first">Basic</h3>
    <p-menu>
      <ul>
        <li><h3>File</h3></li>
        <li><a data-icon="fa-plus"><span>New</span></a></li>
        <li><a data-icon="fa-download"><span>Open</span></a></li>
        <li><h3>Edit</h3></li>
        <li><a data-icon="fa-refresh"><span>Undo</span></a></li>
        <li><a data-icon="fa-repeat"><span>Redo</span></a></li>
      </ul>
    </p-menu>

    <h3>Popup</h3>
    <p-menu popup.bind="true" trigger.bind="btn">
      <ul>
        <li><h3>File</h3></li>
        <li><a data-icon="fa-plus"><span>New</span></a></li>
        <li><a data-icon="fa-download"><span>Open</span></a></li>
        <li><h3>Edit</h3></li>
        <li><a data-icon="fa-refresh"><span>Undo</span></a></li>
        <li><a data-icon="fa-repeat"><span>Redo</span></a></li>
      </ul>
    </p-menu>
    <button ref="btn" type="button" p-button="icon: fa fa-list;label:Show" ></button>
  </div>

  <div class="ContentSideSections Source">
  </div>
</template>
