<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">Password</span>
      <span class="defaultText dispTable">Password displays strength indicator for password fields.</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <h3 class="first">Popup</h3>
    <input p-password type="password"/>

    <h3>Inline</h3>
    <input p-password="inline:inline" type="password"/>
  </div>

  <div class="ContentSideSections Source">
  </div>
</template>
