<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">Breadcrumb</span>
      <span class="defaultText dispTable">Breadcrumb provides contextual information about page hierarchy..</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <p-breadcrumb>
      <ul>
        <li><a href="#"><span>Categories</span></a></li>
        <li><a href="#"><span>Sports</span></a></li>
        <li><a href="#"><span>Football</span></a></li>
        <li><a href="#"><span>Countries</span></a></li>
        <li><a href="#"><span>Spain</span></a></li>
        <li><a href="#"><span>F.C. Barcelona</span></a></li>
        <li><a href="#"><span>Squad</span></a></li>
        <li><a href="#"><span>Lionel Messi</span></a></li>
      </ul>
    </p-breadcrumb>
  </div>

  <div class="ContentSideSections Source">
  </div>
</template>
