<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">MegaMenu</span>
      <span class="defaultText dispTable">MegaMenu displays submenus of root items together.</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <h3 class="first">Default</h3>
    <p-megamenu>
      <ul>
        <li><a data-icon="fa-check">TV</a>
          <div>
            <div class="ui-grid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>TV.1</h3></li>
                    <li><a><span>TV 1.1</span></a></li>
                    <li><a><span>TV 1.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>TV.2</h3></li>
                    <li><a><span>TV 2.1</span></a></li>
                    <li><a><span>TV 2.2</span></a></li>
                    <li><img src="resources/demo/images/sopranos/sopranos1_small.jpg" alt="Sopranos"/></li>
                  </ul>
                </div>

                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>TV.3</h3></li>
                    <li><a><span>TV 3.1</span></a></li>
                    <li><a><span>TV 3.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>TV.4</h3></li>
                    <li><a><span>TV 4.1</span></a></li>
                    <li><a><span>TV 4.2</span></a></li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a data-icon="fa-soccer-ball-o">Sports</a>
          <div>
            <div class="ui-grid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  <ul>
                    <li><h3>Sports.1</h3></li>
                    <li><a><span>Sports 1.1</span></a></li>
                    <li><a><span>Sports 1.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Sports.2</h3></li>
                    <li><a><span>Sports 2.1</span></a></li>
                    <li><a><span>Sports 2.2</span></a></li>
                  </ul>
                </div>

                <div class="ui-grid-col-4">
                  <ul>
                    <li><h3>Sports.3</h3></li>
                    <li><a><span>Sports 3.1</span></a></li>
                    <li><a><span>Sports 3.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Sports.4</h3></li>
                    <li><a><span>Sports 4.1</span></a></li>
                    <li><a><span>Sports 4.2</span></a></li>
                  </ul>
                </div>

                <div class="ui-grid-col-4">
                  <ul>
                    <li><h3>Sports.5</h3></li>
                    <li><a><span>Sports 5.1</span></a></li>
                    <li><a><span>Sports 5.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Sports.6</h3></li>
                    <li><a><span>Sports 6.1</span></a></li>
                    <li><a><span>Sports 6.2</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a data-icon="fa-child">Entartainment</a>
          <div>
            <div class="ui-grid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>Entartainment.1</h3></li>
                    <li><a><span>Entartainment 1.1</span></a></li>
                    <li><a><span>Entartainment 1.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Entartainment.2</h3></li>
                    <li><a><span>Entartainment 2.1</span></a></li>
                    <li><a><span>Entartainment 2.2</span></a></li>
                  </ul>
                </div>

                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>Entartainment.3</h3></li>
                    <li><a><span>Entartainment 3.1</span></a></li>
                    <li><a><span>Entartainment 3.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Entartainment.4</h3></li>
                    <li><a><span>Entartainment 4.1</span></a></li>
                    <li><a><span>Entartainment 4.2</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a data-icon="fa-gears">Tech</a>
          <div>
            <div class="ui-grid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>Tech.1</h3></li>
                    <li><a><span>Tech 1.1</span></a></li>
                    <li><a><span>Tech 1.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Tech.2</h3></li>
                    <li><a><span>Tech 2.1</span></a></li>
                    <li><a><span>Tech 2.2</span></a></li>
                  </ul>
                </div>

                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>Tech.3</h3></li>
                    <li><a><span>Tech 3.1</span></a></li>
                    <li><a><span>Tech 3.2</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </p-megamenu>

    <h3>Vertical</h3>
    <p-megamenu orientation="vertical" auto-display.bind="false">
      <ul>
        <li><a data-icon="fa-check">TV</a>
          <div>
            <div class="ui-grid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>TV.1</h3></li>
                    <li><a><span>TV 1.1</span></a></li>
                    <li><a><span>TV 1.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>TV.2</h3></li>
                    <li><a><span>TV 2.1</span></a></li>
                    <li><a><span>TV 2.2</span></a></li>
                    <li><img src="resources/demo/images/sopranos/sopranos1_small.jpg" alt="Sopranos"/></li>
                  </ul>
                </div>

                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>TV.3</h3></li>
                    <li><a><span>TV 3.1</span></a></li>
                    <li><a><span>TV 3.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>TV.4</h3></li>
                    <li><a><span>TV 4.1</span></a></li>
                    <li><a><span>TV 4.2</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a data-icon="fa-soccer-ball-o">Sports</a>
          <div>
            <div class="ui-grid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  <ul>
                    <li><h3>Sports.1</h3></li>
                    <li><a><span>Sports 1.1</span></a></li>
                    <li><a><span>Sports 1.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Sports.2</h3></li>
                    <li><a><span>Sports 2.1</span></a></li>
                    <li><a><span>Sports 2.2</span></a></li>
                  </ul>
                </div>

                <div class="ui-grid-col-4">
                  <ul>
                    <li><h3>Sports.3</h3></li>
                    <li><a><span>Sports 3.1</span></a></li>
                    <li><a><span>Sports 3.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Sports.4</h3></li>
                    <li><a><span>Sports 4.1</span></a></li>
                    <li><a><span>Sports 4.2</span></a></li>
                  </ul>
                </div>

                <div class="ui-grid-col-4">
                  <ul>
                    <li><h3>Sports.5</h3></li>
                    <li><a><span>Sports 5.1</span></a></li>
                    <li><a><span>Sports 5.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Sports.6</h3></li>
                    <li><a><span>Sports 6.1</span></a></li>
                    <li><a><span>Sports 6.2</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a data-icon="fa-child">Entartainment</a>
          <div>
            <div class="ui-grid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>Entartainment.1</h3></li>
                    <li><a><span>Entartainment 1.1</span></a></li>
                    <li><a><span>Entartainment 1.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Entartainment.2</h3></li>
                    <li><a><span>Entartainment 2.1</span></a></li>
                    <li><a><span>Entartainment 2.2</span></a></li>
                  </ul>
                </div>

                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>Entartainment.3</h3></li>
                    <li><a><span>Entartainment 3.1</span></a></li>
                    <li><a><span>Entartainment 3.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Entartainment.4</h3></li>
                    <li><a><span>Entartainment 4.1</span></a></li>
                    <li><a><span>Entartainment 4.2</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a data-icon="fa-gears">Tech</a>
          <div>
            <div class="ui-grid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>Tech.1</h3></li>
                    <li><a><span>Tech 1.1</span></a></li>
                    <li><a><span>Tech 1.2</span></a></li>
                  </ul>

                  <ul>
                    <li><h3>Tech.2</h3></li>
                    <li><a><span>Tech 2.1</span></a></li>
                    <li><a><span>Tech 2.2</span></a></li>
                  </ul>
                </div>

                <div class="ui-grid-col-6">
                  <ul>
                    <li><h3>Tech.3</h3></li>
                    <li><a><span>Tech 3.1</span></a></li>
                    <li><a><span>Tech 3.2</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </p-megamenu>

  </div>


  <div class="ContentSideSections Source">
  </div>
</template>
