<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">Menu - PanelMenu</span>
      <span class="defaultText dispTable">PanelMenu is a hybrid of accordion-tree components.</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <p-panelmenu style="width:300px">
      <div>
        <div><a data-icon="fa-file-o"><span>File</span></a></div>
        <div>
          <ul>
            <li><a data-icon="fa-plus"><span>New</span></a>
              <ul>
                <li><a><span>Project</span></a></li>
                <li><a><span>Other</span></a></li>
              </ul>
            </li>
            <li><a><span>Open</span></a></li>
            <li><a><span>Quit</span></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div><a data-icon="fa-edit"><span>Edit</span></a></div>
        <div>
          <ul>
            <li><a data-icon="fa-mail-forward"><span>Undo</span></a></li>
            <li><a data-icon="fa-mail-reply"><span>Redo</span></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div><a data-icon="fa-question"><span>Help</span></a></div>
        <div>
          <ul>
            <li><a><span>Contents</span></a></li>
            <li><a data-icon="fa-search"><span>Search</span></a>
              <ul>
                <li><a><span>Text</span></a>
                  <ul>
                    <li><a><span>Workspace</span></a></li>
                  </ul>
                </li>
                <li><a><span>File</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div><a data-icon="fa-gear"><span>Actions</span></a></div>
        <div>
          <ul>
            <li><a data-icon="fa-pencil"><span>Edit</span></a>
              <ul>
                <li><a data-icon="fa-save"><span>Save</span></a></li>
                <li><a data-icon="fa-save"><span>Update</span></a></li>
              </ul>
            </li>
            <li><a data-icon="fa-phone"><span>Other</span></a>
              <ul>
                <li><a data-icon="fa-minus"><span>Delete</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </p-panelmenu>

  </div>


  <div class="ContentSideSections Source">
  </div>
</template>
