<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">Menubar</span>
      <span class="defaultText dispTable">Menubar is an horizontal menu components with support for nested submenus.</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <h3 class="first">Default</h3>
    <p-menubar>
      <ul>
        <li> <a data-icon="fa-file-o"><span>File</span></a>
          <ul>
            <li><a data-icon="fa-plus"><span>New</span></a>
              <ul>
                <li><a><span>Project</span></a></li>
                <li><a><span>Other</span></a></li>
              </ul>
            </li>
            <li><a><span>Open</span></a></li>
            <li><a><span>Quit</span></a></li>
          </ul>
        </li>
        <li> <a data-icon="fa-edit">Edit</a>
          <ul>
            <li><a data-icon="fa-mail-forward"><span>Undo</span></a></li>
            <li><a data-icon="fa-mail-reply"><span>Redo</span></a></li>
          </ul>
        </li>
        <li>
          <a data-icon="fa-question">Help</a>
          <ul>
            <li><a><span>Contents</span></a></li>
            <li>
              <a data-icon="fa-search"><span>Search</span></a>
              <ul>
                <li><a>Text</a>
                  <ul>
                    <li><a><span>Workspace</span></a></li>
                  </ul>
                </li>
                <li><a><span>File</span></a></li>
              </ul>
            </li>

          </ul>

        </li>
        <li>
          <a data-icon="fa-gear">Actions</a>
          <ul>
            <li><a data-icon="fa-refresh"><span>Edit</span></a>
              <ul>
                <li><a data-icon="fa-save"><span>Save</span></a></li>
                <li><a data-icon="fa-save"><span>Update</span></a></li>
              </ul>
            </li>
            <li><a data-icon="fa-phone">Other</a>
              <ul>
                <li><a data-icon="fa-minus"><span>Delete</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a data-icon="fa-close"><span>Quit</span></a>
        </li>
      </ul>
    </p-menubar>

    <h3>Click to Display</h3>
    <p-menubar [autoDisplay]="false">
      <ul>
        <li> <a data-icon="fa-file-o"><span>File</span></a>
          <ul>
            <li><a data-icon="fa-plus"><span>New</span></a>
              <ul>
                <li><a><span>Project</span></a></li>
                <li><a><span>Other</span></a></li>
              </ul>
            </li>
            <li><a><span>Open</span></a></li>
            <li><a><span>Quit</span></a></li>
          </ul>
        </li>
        <li> <a data-icon="fa-edit">Edit</a>
          <ul>
            <li><a data-icon="fa-mail-forward"><span>Undo</span></a></li>
            <li><a data-icon="fa-mail-reply"><span>Redo</span></a></li>
          </ul>
        </li>
        <li>
          <a data-icon="fa-question">Help</a>
          <ul>
            <li><a><span>Contents</span></a></li>
            <li>
              <a data-icon="fa-search"><span>Search</span></a>
              <ul>
                <li><a>Text</a>
                  <ul>
                    <li><a><span>Workspace</span></a></li>
                  </ul>
                </li>
                <li><a><span>File</span></a></li>
              </ul>
            </li>

          </ul>

        </li>
        <li>
          <a data-icon="fa-gear">Actions</a>
          <ul>
            <li><a data-icon="fa-refresh"><span>Edit</span></a>
              <ul>
                <li><a data-icon="fa-save"><span>Save</span></a></li>
                <li><a data-icon="fa-save"><span>Update</span></a></li>
              </ul>
            </li>
            <li><a data-icon="fa-phone">Other</a>
              <ul>
                <li><a data-icon="fa-minus"><span>Delete</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a data-icon="fa-close"><span>Quit</span></a>
        </li>
      </ul>
    </p-menubar>

  </div>


  <div class="ContentSideSections Source">
  </div>
</template>
