<template>

  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">ProgressBar</span>
      <span class="defaultText dispTable">ProgressBar is a process status indicator.</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <p-growl value.two-way="msgs"></p-growl>

    <h3 class="first">Dynamic</h3>
    <p-progressbar value.bind="value"></p-progressbar>

    <h3>Static</h3>
    <p-progressbar value="50"></p-progressbar>
  </div>

  <div class="ContentSideSections Source">
  </div>
</template>
