<template>
    <div class="ContentSideSections">
        <div class="Content100 overHidden TextShadow">
            <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">SplitButton</span>
            <span class="defaultText dispTable">SplitButton groups a set of commands in an overlay with a default command.</span>
        </div>
    </div>

    <div class="ContentSideSections Implementation">
        <p-growl [value]="msgs"></p-growl>

        <p-splitbutton label="Save" icon="fa-check" on-click.call="save()">
            <p-splitbuttonitem icon="fa-close" label="Delete" on-click.call="$parent.delete()"></p-splitbuttonitem>
            <p-splitbuttonitem icon="fa-refresh" label="Update" on-click.call="update()"></p-splitbuttonitem>
            <p-splitbuttonitem icon="fa-link" label="Angular.io" url="http://angular.io"></p-splitbuttonitem>
            <p-splitbuttonitem icon="fa-paint-brush" label="Theming" url.bind="['Theming']"></p-splitbuttonitem>
        </p-splitbutton>
    </div>

    <div class="ContentSideSections Source">
</template>
