<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">Slider</span>
      <span class="defaultText dispTable">Slider is a component to provide input using dragging of a handle.</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <h3 class="first">Basic: ${val1}</h3>
    <p-slider model.two-way="val1" style="width:200px"></p-slider>

    <h3>Input: ${val2}</h3>
    <input type="text" p-inputtext value.two-way="val2" style="width:200px"/>
    <p-slider value.two-way="val2" style="width:200px"></p-slider>

    <h3>Animate: ${val3}</h3>
    <p-slider value.two-way="val3" style="width:200px" animate.bind="true"></p-slider>

    <h3>Step: ${val4}</h3>
    <p-slider value.two-way="val4" style="width:200px" step="10"></p-slider>

    <h3>Range: ${rangeValues}</h3>
    <p-slider value.two-way="rangeValues" style="width:200px" range.bind="true"></p-slider>

    <h3>Vertical: ${val5}</h3>
    <p-slider value.two-way="val5" style="height:200px" orientation="vertical"></p-slider>
  </div>

  <div class="ContentSideSections Source">
  </div>
</template>
